@page "/CarPark"

<body>
    <div class ="container px-5">
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class="textstyle">Parking</h3>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 col-lg-6 px-20 ">
                <p class="condensedlines">
                    Getting to the carpark at the rear of the property can be tricky, but once you’ve done it once, it’s easy!
                    The car park itself is just outside the back door of the house, but to access the car park you need to be on an adjacent street to the house (Commercial Rd). <br/> 
                    The car park is gated. To access it you need to drive through the grounds of the blocks of flats behind the house – don’t worry about the less than salubrious surrounds, it’s perfectly safe.<br/>
                    To get to the entrance to the grounds of the flats, you need to be on Commercial Road.  Follow the red route on the map to get to the entrance to the car park.<br/>  
                    If you enter <a href = "https://www.google.co.uk/maps/place/Waring+House,+Redcliffe,+Bristol/">Waring House, Redcliffe, Bristol</a> 
                    into Google or Apple Maps this will guide you straight to the entrance of the flats.
                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">
                <div class="square">
                    <img src="/lib/images/car park map.jpg" class ="imgcustom"/>
                </div>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 col-lg-6 px-20 align-self-center">
                <div class="square">
                    <img src="/lib/images/flatsentrance.jpg" class ="imgcustom"/>
                </div>
            </div>
            <div class = "col col-12 col-lg-6 px-20 align-self-center">
                <p class="condensedlines">
                    To access this red route through the grounds of the flats, you need to drive through the entrance underneath the block of flats.  
                </p>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 col-lg-6 px-20 align-self-center">
                <p class="condensedlines">
                    You simply follow the road through the flats.  Head straight ahead when you’re through the entrance.  
                    Follow the road around to the left past the basketball court.  <br/>
                    Keep going and you should be in front of a gate to a small car park. Open the gate – the combination is 17181
                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">
                <div class="square">
                    <img src="/lib/images/carparkentrance.jpg" class ="imgcustom"/>
                </div>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 col-lg-6 px-20">
                <div class="square">
                    <img src="/lib/images/carpark1.png" class ="imgcustom"/>
                </div>
            </div>
            <div class = "col col-12 col-lg-6 px-20 align-self-center">
                <p class="condensedlines">
                    Once in the car park, the parking space is the second from the right.  Number 2 in the diagram.  <br/>
                    There are no lines painted on the car park so please take care to park in this space as the other spaces belong to the neighbours.   
                    The car park is tight, especially for the other spaces so could you park as far forward as possible please? <br/>
                    Also, could you ensure you give the car parked in Space 1 ample room please (it’s usually a white Honda) - Many thanks!
                </p>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 col-lg-6 px-20 align-self-center">
                <p class="condensedlines">
                    If you have a second car, space number 4 also belongs to the house, but is tricky to access so it’s only really suitable for a small car.<br/>
                    To access the house, go through the gate and up the steps in the far corner of the car park.  <br/>
                    The back door of the house is straight in front of you at the end of the path.  The key is in a keysafe right next to the door.
                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">
                <div class="square">
                    <img src="/lib/images/gate.jpg" class ="imgcustom"/>
                </div>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 col-lg-6 px-20">
                <div class="square">
                    <img src="/lib/images/OneWaySystem.jpg" class ="imgcustom"/>
                </div>
            </div>
            <div class = "col col-12 col-lg-6 px-20 align-self-center">
                <p class="condensedlines">
                    If you are at the front of the property (on Guinea St) in a car, you will need to 
                    head back down to the main road (Redcliffe Hill) and round the one way system to get to the car park.
                </p>
            </div>
        </div>
    </div>
</body>
