@page "/Directions"
<body>
    <div class ="container px-3 px-lg-5">
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class="textstyle">By Car</h3>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 px-20 ">
                <p class="condensedlines">
                    Driving to the house is reasonably straightforward.  To get to the car park entrance search for <a href = "https://www.google.co.uk/maps/place/Waring+House,+Redcliffe,+Bristol/">Waring House, Redcliffe, Bristol</a> 
                    into Google or Apple Maps.  Getting into the car park is a little tricky, so please read <a asp-page="/CarPark">this guide</a> before you set off.
                    Traffic in Bristol can build up, but outside rush hour the house is around 20 minutes from the junction of the M32 and the M4.
                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">

            </div>
        </div>
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class="textstyle">By Train or Bus</h3>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12  px-20 ">
                <p class="condensedlines">
                    Temple Meads train station is quite close: it's a ten minute walk (unless you are a slow walker).  There are taxis outside the station, and they would probably charge you 
                    around £10 to drive to the house.
                    The bus station is further away, a good 20 minute walk or around £15 in a taxi.

                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">

            </div>
        </div>
        <div class = "row  pb-4">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class="textstyle">From Bristol Airport</h3>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 px-20 ">
                <p class="condensedlines">
                    The airport is around a 25 minute drive away and you have 2 options (unless you hire a car)  <br /><h5>Taxi</h5></p><p class="condensedlines"> These can either be picked up outside the airport 
                    or booked in advance through <a href="https://www.arrowcars.co.uk/">Arrow Cars</a> who have a branch just outside the main terminal.
                    It costs around £35 to £40 one way.  They are relaible and if you book, you should be able to get your cab straight away.  If you don't book there can be a bit of wait for a taxi at busy times.  An Uber may be cheaper however, and therefore may be a better option getting to the airport.</p>

                    <br /><h5>Bus</h5><p class="condensedlines">There is a good bus service to and from the airport, a single costs £8 and a return ticket costs £13.  Buses run every 20 minutes throughout the day. Tickets can be purchased on the 
                    bus or in advance on <a href="https://flyer.bristolairport.co.uk/">this site</a>.  The bus stops at various places through Bristol and there is a stop right at the end
                    of Guinea Street on Redcliffe Hill - under one minute's walk from the house: R1/R2 on <a href="https://flyer.bristolairport.co.uk/stops-and-maps">this map</a>.

                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">

            </div>
        </div>
    </div>
</body>