@page "/Eating"


<body>
    <div class="container px-3 px-lg-5">
        <div class="row">
            <div class="d-md-none" >
                <div class="col ms-2 pb-3 ">
                    <h3 class = "textstyle" >Eating out</h3>
                </div>
            </div>
            <div class="d-none d-md-block" >
                <div class="col ms-4 pb-3 text-center">
                    <h3 class = "textstyle" >Eating out</h3>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-20 ">
                <figure>
                    <blockquote class="blockquote">
                        <p class = "textstyle">
                            There are some excellent places to eat in Bristol, from Michelin starred resaurants to street food stands.  This list is entirely subjective and I'm sure you will
                            find other great places, but these are places I'm always happy to go to.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Paul M <cite title="Source Title">owner</cite>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row pb-4">


            <div class="col col-12 col-lg-6 px-1  px-lg-4 mt-10" style ="align-items: flex-start;" >
                <div class="card mx-lg-5 mb-3" >
                    
                        <img src="https://www.adelinayard.com/wp-content/uploads/2018/05/home_slide3.jpg" class="d-flex"/>
                    
                    <div class="card-body">
                        <h5 class="card-title">Adelina Yard</h5>
                        <p class="card-text"><a href = "https://www.adelinayard.com/">Adelina Yard</a>  
                            is a small modern British restaurant on the river.  It goes under the radar a little in Bristol, which is pretty good in my book. A great place for a long lunch. 5 mins walk away.
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://axwwgrkdco.cloudimg.io/v7/__gmpics__/0641a855a0354e958adc4664fe32fe73" />
                    <div class="card-body">
                        <h5 class="card-title">Bokman</h5>
                        <p class="card-text"><a href = "https://www.instagram.com/bokmanbristol/?hl=en">Bokman</a>  
                            is a tiny Korean restaurant which only has a few tables, but the food is amazing. It often gets recognition in the national press. 
                            I can heartily recomend the chicken stuffed with rice. 20 mins walk away.
                            
                        </p>
                    </div>

                </div>
            
       
        
            
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://bianchisrestaurant.co.uk/wp-content/uploads/2019/09/slider2.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Bianchi's</h5>
                        <p class="card-text"><a href = "https://bianchisrestaurant.co.uk/">Bianchi's</a>  
                            is a contempory Italian restaurant.  Top quality food.  The owners have a few <a href ="https://bianchisgroup.co.uk/our-venues/" >other restaurants</a> in Bristol - all of which are great (most of them are actually closer). 25 mins walk.
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://www.lidobristol.com/wp-content/uploads/2020/09/LUNCH_SCALLOPS_15-scaled.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Lido</h5>
                        <p class="card-text"><a href = "https://www.lidobristol.com/restaurant-and-tapas-bar/restaurant/">The Lido</a>  
                            is a restaurant which is part of the Bristol Lido (outdoor swimming pool).  The pool is great and you can book a swim, spa meal package.  Or just go to eat.  Really great Spanish influenced food.
                            20 mins walk away. 
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://images.squarespace-cdn.com/content/v1/57fa0ddf2e69cfd1ffb1fff6/1633431939487-EULNWB95LO7FB1R667E3/Box+E+Bristol+Food+photography_Scallop+and+heritage+tomato+_+by+Chloe+Edwards+photography-2756.jpg?format=2500w" />
                    <div class="card-body">
                        <h5 class="card-title">Box-E</h5>
                        <p class="card-text"><a href = "https://www.boxebristol.com/">Box-E</a>  
                            is a modern British restaurant in Wapping Wharf, just 5 mins walk away.  It can get a little cramped indoors, but the terrace is very pleasant. Great local food. 
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://www.bristolsqueezed.co.uk/wp-content/uploads/2018/09/37632157_2027320244245014_8673603393899462656_n.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Squeezed</h5>
                        <p class="card-text"><a href = "https://www.bristolsqueezed.co.uk/">Squeezed</a>  
                            make the best burgers in town. And that's a high bar. Limited seating inside, but grab a burger and some excellent lemonade and sit by the river.  In Wapping Wharf, 5 minutes walk away.

                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://arnolfini.org.uk/app/uploads/2022/07/Arnolfini-Cafe-Bar.-Photo-by-Lisa-Whiting-Photography-for-Arnolfini.-All-rights-reserved-25-545x545.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Arnolfini</h5>
                        <p class="card-text"><a href = "https://arnolfini.org.uk/cafe-bar/">Arnolfini</a>  
                            is a free gallery.  A bit of a Bristol institution.  But the cafe serves up great food - especially breakfast.  The galleries are pretty good too (exhibition dependent). 5 mins away.

                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://www.swoononaspoon.co.uk/wp-content/uploads/2018/03/banner_gelato.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Swoon</h5>
                        <p class="card-text"><a href = "https://www.swoononaspoon.co.uk/">Swoon</a>  
                            gelato sells the best ice cream I've tasted outside of Italy.  And I've tried a lot. 10 mins away.

                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://caribbeancroft.co.uk/wp-content/uploads/2021/11/slide3-small.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Caribbean Croft</h5>
                        <p class="card-text"><a href = "https://caribbeancroft.co.uk/">Caribbean Croft</a>  
                            reflects the influence Bristol's big West Indian communtity. You can't go wrong here with amazing bbq Caribbean food, cocktails and good times. 20 minutes walk.

                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://pasturerestaurant.com/wp-content/uploads/2021/10/pasture-interiors-and-dishes-50.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Pasture</h5>
                        <p class="card-text"><a href = "https://pasturerestaurant.com/">Pasture</a>  
                           is a steakhouse really close by the house. It's my favourite place in Bristol for a steak, and there are some brilliant steakhouses here.  But this wins for me.
                           Great beef, perfectly cooked in bustling atmosphere. They even have a reasonable kids menu. 

                        </p>
                    </div>

                </div>
            </div>
            <div class="col col-12 col-lg-6  px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://soukitchen.co.uk/wp-content/uploads/2022/07/summer2022-hp6.jpg?id=5048" />
                    <div class="card-body">
                        <h5 class="card-title">Souk Kitchen</h5>
                        <p class="card-text"><a href = "https://soukitchen.co.uk/">Souk Kitchen</a>  
                            is a casual middle eastern restaurant, in the less touristy south Bristol.  Consistently good, but also great for brunch.  Followed by a mooch about North St. They also have a place in Clifton, but the Southville one wins for me. 20 mins walk.
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://tobaccofactory.com/wp-content/uploads/2020/03/yum-e281a3-e281a3-just-look-e1605527904578.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Tobacco Factory</h5>
                        <p class="card-text"><a href = "https://tobaccofactory.com/">Tobacco Factory</a>  
                            is a bar, cafe and theatre also in Southville.  The cafe makes great vegetarian food.  Plus the bar sells great beer.  A great place to hang out for a few hours. 20 mins walk.

                        </p>
                    </div>

                </div>
  
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://cargocantina.co.uk/images/cargo-cantina/new1.1.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Cargo Cantina</h5>
                        <p class="card-text"><a href = "https://cargocantina.co.uk/">Cargo Cantina</a>  
                            is another favourite in Wapping Wharf. It's a Mexican cafe bar. Or catina even.  Tasty burritos and tacos.  Pretty decent margaritas too! 5 mins walk.
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://eatchu.co.uk/wp-content/uploads/2019/11/Gyoza-on-Dressed-Rice-eatchu-bristol-768x768.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Eatchu</h5>
                        <p class="card-text"><a href = "https://eatchu.co.uk/">Eatchu</a>  
                            sells fantastic authentic gyoza (Japanese dumplings, steamed and fried) in <a href ="https://www.bristol.gov.uk/st-nicholas-markets/eat-and-drink">St Nicks market</a>, which is a busy lunchtime food market with numerous take aways. 10 mins walk.

                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://images.squarespace-cdn.com/content/v1/61f18c7218da8b0b4abdf21e/c1969ce0-646a-4dab-8188-64cdbd0439ca/WokyKo_TakeAway_2020.jpg?format=750w" />
                    <div class="card-body">
                        <h5 class="card-title">Woky Ko</h5>
                        <p class="card-text"><a href = "https://www.wokyko.com/">Woky Ko</a>  
                            is Bristol chain of Asian restaurants and takeaways.  They vary, but I love the fried chicken at <a href ="https://www.bristol.gov.uk/st-nicholas-markets/eat-and-drink">St Nicks market</a> which is both the best value, and tastiest imho. 10 mins walk.
                            
                        </p>
                    </div>

                </div>

                <div class="card mx-lg-5 mb-3" >
                    <img src="https://www.wingsdiner.co.uk/wp-content/uploads/2020/05/wings2r2.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Wings</h5>
                        <p class="card-text"><a href = "https://www.wingsdiner.co.uk/">Wings Diner</a>  
                            sells amazing Korean style fried chicken.  It's based in the <a href ="http://www.smallbar.co.uk/">Small Bar</a>, a great craft beer pub on the 'beermuda triangle' on King St.  Book some chicken and either eat in with a beer or take it away. 10 mins walk.

                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://images.squarespace-cdn.com/content/v1/557d3619e4b0452ec69c411b/1615292731905-73AJECRY8S1LHN2YQ5GR/PHOTO-2021-01-20-11-23-19.jpg?format=300w" />
                    <div class="card-body">
                        <h5 class="card-title">Boca Bar</h5>
                        <p class="card-text"><a href = "https://bristol.bocabar.co.uk/#doorsopen">Boca Bar</a>  
                            is a large bar that specialises in Pizza.  It's great for kids too.  It's a bit further afield, but worth the trip. 35 mins walk. Walk it off with a stroll around <a href = "https://arnosvale.org.uk/">Arnos Vale</a> afterwards - an overgrown Victorian cemetary / woodland that is much better than it sounds!

                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://urban-tandoor.com/gallery/urban-tandoor-interior-3_2.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Urban Tandoor</h5>
                        <p class="card-text"><a href = "https://urban-tandoor.com/">Urban Tandoor</a>  
                            is very decent curry house in a city not known for curry. But if you need to get your fix, you won't be disapointed here. 15 minutes walk.
                        </p>
                    </div>

                </div>
                <div class="card mx-lg-5 mb-3" >
                    <img src="https://static.wixstatic.com/media/b0e7a7_02e0d0e826154ede8fc128b9fc9f6a1c~mv2.jpg/v1/fill/w_1128,h_584,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b0e7a7_02e0d0e826154ede8fc128b9fc9f6a1c~mv2.jpg" />
                    <div class="card-body">
                        <h5 class="card-title">Olive Shed</h5>
                        <p class="card-text"><a href = "https://www.theoliveshed.com/">Olive Shed</a>  
                            is summery restaurant on the river.  A lovely place to sit outside on a sunny day, eat some tapas and watch the world go by.  5 mins walk.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>



            