@page "/Families"


<body>
    <div class="container px-3 px-lg-5">
        <div class="row">
            <div class="d-md-none" >
                <div class="col ms-2 pb-3 ">
                    <h3 class = "textstyle" >Families</h3>
                </div>
            </div>
            <div class="d-none d-md-block" >
                <div class="col ms-4 pb-3 text-center">
                    <h3 class = "textstyle" >Families</h3>
                </div>
            </div>
        </div>
        <div class="row pb-4 px-1">
            <div class="col col-12 px-20 ">
                <h6 class = "textstyle ps-lg-5">
                    Here is a list of nearby places to entertain your children.  My kids have tried and tested all of these places and they got the seal of approval!
                </h6>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >   
                    <div class="d-md-none p-3"  >
                        <img src="https://www.windmillhillcityfarm.org.uk/wp-content/uploads/2021/04/Visit-us-cafe-gallery1-1.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block ">
                                <img src="https://www.windmillhillcityfarm.org.uk/wp-content/uploads/2021/04/Visit-us-cafe-gallery1-1.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>Windmill Hill City Farm</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://www.windmillhillcityfarm.org.uk/">Windmill Hill city farm</a>  
                                    is a working farm 5 minutes from the house.  It has animals, loads of veg and plants and is great for a wander.  There is also a play area, a football pitch, a farm shop and
                                    a child friendly cafe that sells great vegetarian food (breakfast is really good).  My kids love this place, even now as they are getting older.                  
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >   
                    <div class="d-md-none p-3"  >
                        <img src="/lib/images/viccypark.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="/lib/images/viccypark.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>Victoria Park</h4>
                                </div>
                                <p class="card-text pt-2">Victoria Park is about 10 minutes walk from the house, right next to the city farm.  It is a huge park with three play areas a couple of basketball courts and 
                                    various football pitches. There are great views across Bristol but best of all there is a mobile cafe by the big play area at the top of the hill.
                                    
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" > 
                    <div class="d-md-none p-3"  >
                        <img src="https://www.bristolaquarium.co.uk/wp-content/uploads/2021/01/Bristol-Aquarium-Tunnel.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="https://www.bristolaquarium.co.uk/wp-content/uploads/2021/01/Bristol-Aquarium-Tunnel.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>Aquarium</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://www.bristolaquarium.co.uk/">Bristol Aquarium</a> is a few minutes walk from the house and is pretty good at occupying little ones for a few hours.
                                    There are some hands on exhibits and it's pretty varied.
                                    
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >
                    <div class="d-md-none p-3"  >
                        <img src="/lib/images/wakethetiger.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="/lib/images/wakethetiger.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>Wake the Tiger</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://www.wakethetiger.com/">Wake the Tiger</a> is billed as an 'amazement park'.  It's a pretty crazy place that really occupies kid's imaginations. It's around a 25 min walk away from the house
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" > 
                    <div class="d-md-none p-3"  >
                        <img src="https://freedogbristol.com/wp-content/uploads/2019/11/ninja-course-for-kids-at-freedog-bristol.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="https://freedogbristol.com/wp-content/uploads/2019/11/ninja-course-for-kids-at-freedog-bristol.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>FreeDog</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://freedogbristol.com/">FreeDog</a> is an indoor trampoline / fun centre for kids of all ages.  There is a decent softplay area for little ones, and a cafe too.  This has been my kids number one place to go for a good 7 years now.  Plus it isn't too far - about 15 mins walk 
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >
                    <div class="d-md-none p-3"  >
                        <img src="https://images.squarespace-cdn.com/content/v1/538d8f62e4b0f432bcf19df2/1582645787865-AQVMSO1U7LHY626YIO45/Concorde-Hangar.jpg?format=1000w" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="https://images.squarespace-cdn.com/content/v1/538d8f62e4b0f432bcf19df2/1582645787865-AQVMSO1U7LHY626YIO45/Concorde-Hangar.jpg?format=1000w" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>Aerospace</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://aerospacebristol.org/">Aerospace</a> is an aeroplane themed museum.  It's a bit further away in Filton, not really walkable but you get to go on the last Concorde amoungst other aeronautical exhibits. 
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >
                    <div class="d-md-none p-3"  >
                        <img src="https://atbristolmedia.s3-eu-west-1.amazonaws.com/styles/large_tile_image/s3/Web%20edu%202.jpg?p9TRhsXw7Mhv8bI2AxX4kIPpZyOdQHbj&itok=_-nVonF41" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="https://atbristolmedia.s3-eu-west-1.amazonaws.com/styles/large_tile_image/s3/Web%20edu%202.jpg?p9TRhsXw7Mhv8bI2AxX4kIPpZyOdQHbj&itok=_-nVonF41" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>We the Curious</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://www.wethecurious.org/">We the Curious</a>  
                                    is a science centre full of interesting, hands on items to entertain kids of all ages.  It's pretty large and you can spend hours in there. It recently re-opened after being revamped after a fire.  My 10 year old couldn't stop raving about the planetarium in there.             
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >
                    <div class="d-md-none p-3"  >
                        <img src="/lib/images/lane7.jpg" class="img-fluid" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4 d-none d-md-block">
                                <img src="/lib/images/lane7.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-12 col-md-8">
                                <div class="card-header">
                                    <h4>Lane 7</h4>
                                </div>
                                <p class="card-text pt-2"><a href = "https://lane7.co.uk/bristol/">Lane 7</a>  
                                    is a Bristol branch of a chain, which has bowling, pool and other games.  Not great for kids in the evening, but it opens at 11am on school holidays
                                    so it's perfect for entertaining older kids.                 
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>

    </div>
</body>
