@page "/General"

<body>
    <div class ="container px-3 px-lg-5">
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class="textstyle">General information about the house</h3>
            </div>
        </div>
         
        <div class = "row pb-4">
            <div class = "col col-2">

            </div>
            <div class = "col col-10 px-20 ">

            </div>
            <h4 class="textstyle">TV</h4> 
            <p class="condensedlines">
                The Virgin tivo box provides the tv.  Netflix and other streaming services are available through this box (although you will need to sign in with your own account).  
                To use the TV, ensure all plugs are switched on behind the TV. <br />  You can use the Virgin remote control to do everything you need (not the one that has LG written on it).  
                If you press the Home button, you will see the menu. <br /> To get to Netflix and other streaming services, scroll right to the Apps section.
            </p>
            <h4 class="textstyle">Audio</h4> 
            <p class="condensedlines">
                The soundbar is set up to work with the TV but can also be used as a Bluetooth audio speaker, press the button furthest right on the top of the soundbar to put it into Bluetooth mode.  
                The light on the front will be blue in Bluetooth mode and white in TV mode.
            </p>
            <h4 class="textstyle">Solar Electricity</h4> 
            <p class="condensedlines">
                There are solar panels on the roof, these generate electricity during daylight hours, but it is not stored.  So to be kinder to the environment, it's best to use any heavy use electricity
                i.e. car charging, washing machine / dryer, dishwasher etc during the day.
            </p>
            <h4 class="textstyle">Washing Machine</h4> 
            <p class="condensedlines">
                The washing machine is preloaded with washing liquid and fabric conditioner.  You should simply have to put your clothes in and press the Power button, you may have to press the O button after.  
                Then turn the dial to select the cycle and press the ‘Play’ button for 2 seconds to start the cycle.
            </p>
            <h4 class="textstyle">Drying Clothes</h4> 
            <p class="condensedlines">
                There is a dryer above the washing machine.  The draw in the top left hand corner of the dryer stores the extracted water and needs to be emptied regularly.  If the dryer won't work, 
                it is worth checking if the draw needs emptying. <br /> 
                If the weather is good and you would prefer to give the environment a break, there is a clothes airer and pegs next to the dryer.  
                This can be carried to the roof (folded) and clothes dried there, although it can get breezy up there so ensure you use pegs.
            </p>
            <h4 class="textstyle">Dishwasher</h4> 
            <p class="condensedlines">
                The dishwasher is underneath the kitchen counter.  Dishwasher tablets are in the kitchen cupboard above and the left of the sink.  To operate, open the door and press the power button (far left).  
                Then press the cycle button (furthest left of the cluster of buttons on the right-hand side) to toggle through the different wash cycles.  
                Add a dishwasher tablet and press the ‘Play’ button (furthest right) and the dishwasher should start once you close the door. <br /> 
                Please rinse food from plates etc before putting them into the dishwasher to avoid clogging it up. Thanks!
            </p>
            <h4 class="textstyle">Security</h4> 
            <p class="condensedlines">
                Bristol is a safe city, and there aren’t any no go areas.  However, it is important to bear in mind that you are staying in the city centre and like most UK cities, there is homelessness and petty crime associated with addiction.  
                Please be mindful and ensure you close downstairs windows and lock doors when you are out / overnight. 
            </p>                      
        </div>                   
    </div>
</body>
