@page "/Recycling"


<body>
    <div class ="container px-3 px-lg-5">
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class = "textstyle">Waste and recycling</h3>
            </div>
        </div>
        <div class = "row ">
            <div class = "col col-12 px-20 ">
                <p class="condensedlines" >
                        Bristol has a reasonably complex refuse collection system and this house has 2 separate collection points.  There are 5 different bins.
                </p>
            </div>
        </div>            
        <div class = "row pb-4">
            <div class = "col col-2">

            </div>
            <div class = "col col-10 px-20 ">

            </div>
                        <h4 class = "textstyle">Black wheelie bin</h4>  
                        <span class="condensedlines ps-5" ><strong>For:</strong> non-recyclable waste, i.e. in bin bags. </span> 
                        <span class="condensedlines ps-5"><strong>Where is it:</strong> The bin is in the far corner of the car park by the bike shed (out the back door and down the steps).  </span> 
                        <span class="condensedlines ps-5"><strong>Where to put it out:</strong> Just outside the car park gates on the left hand side.  You will need to bring this back in when it has been emptied.  The gate combination 17181.</span> 
                        <span class="condensedlines ps-5"><strong>When:</strong> Every Monday evening for collection on Tuesday.</span> <br />
                        <h4 class="pt-4 textstyle"> Brown food waste bin </h4>  
                        <span class="condensedlines ps-5"><strong>For:</strong> All food waste</span>
                        <span class="condensedlines ps-5"><strong>Where is it:</strong> The bin is kept just outside the back door. Please ensure the lid is always closed properly.  There is a smaller food caddy on the kitchen surface, which should be lined with a green recyclable bag.  These are kept in the cupboard above the caddy.  </span>
                        <span class="condensedlines ps-5"><strong>Where to put it out:</strong> On the pavement outside the front door.  Please push it up against the wall of the house so it doesn’t block the pavement too much.</span>
                        <span class="condensedlines ps-5"><strong>When:</strong> This bin should be put out every Monday evening for collection on Tuesday.  You will need to bring this back in when it has been emptied.  </span>
                        <h4 class="pt-4 textstyle">Blue bag</h4>
                        <span class="condensedlines ps-5"><strong>For:</strong> Cardboard, brown paper, egg boxes, tetrapak cartons</span>
                        <span class="condensedlines ps-5"><strong>Where is it:</strong> The bag is kept in the entrance area by the back door.  </span>
                        <span class="condensedlines ps-5"><strong>Where to put it out:</strong> On the pavement outside the front door.  </span>
                        <span class="condensedlines ps-5"><strong>When:</strong> This bin should be put out every Monday evening for collection on Tuesday.  You will need to bring this back in when it has been emptied. </span> 
                        <h4 class="pt-4 textstyle">Black and Green boxes</h4>
                        <span class="condensedlines ps-5"><strong>For:</strong> Plastic, glass, paper, cans and aluminium</span>
                        <span class="condensedlines ps-5"><strong>Where are they:</strong> The bins are kept just outside the back door.  </span>
                        <span class="condensedlines ps-5"><strong>Where to put them out:</strong> On the pavement outside the front door.  </span>
                        <span class="condensedlines ps-5"><strong>When:</strong> These bins should be put out every Monday evening for collection on Tuesday.  You will need to bring these back in when they have been emptied. </span>



        </div>            

        
    </div>
</body>
