@page "/Rules"


<body>
    <div class ="container px-5">
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class="textstyle">House Rules</h3>
            </div>
        </div>
         
        <div class = "row pb-4">
            <div class = "col col-2">

            </div>
            <div class = "col col-10 px-20 ">

            </div>
            <h4 class="textstyle">Noise</h4> 
            <p class="condensedlines">
                Please be considerate to the neighbours.  
                The walls are quite thin and the family next door have children so it is important that there is no noise after 10pm. <br /> Definitely no parties.  
            </p>              
            <h4 class="textstyle">Smoking</h4> 
            <p class="condensedlines">
                Smoking is not allowed in the entire house or on the roof.  If you need to smoke you will have to go for a walk.  
                Please don’t stand outside the front or back doors whilst smoking.  This isn't acceptable to the neighbours.
            </p>
            <h4 class="textstyle">The Roof</h4> 
            <p class="condensedlines">
                There is a small terrace on the roof which you are able to use.  It is not suitable for unsupervised children or adults who are the worse for wear.  
                If you choose to go up there, you will be using it at your own risk, and we are not responsible for any mishaps or accidents that may happen up there.  <br />
                Please do not climb anywhere or leave the decked area. <br /> <b>You are not permitted to smoke up there!</b><br />
                The neighbour's bedroom is in their attic space and they can hear every word of rooftop conversations when they are in bed, so please do not go up there after 10pm. Thanks.
            </p>              
        </div>                   
    </div>
</body>

