@page "/ThingsToDo"

<body>
    <div class="container px-5">
        <div class="row">
            <div class="col ms-4 pb-3 text-center">
                <h3 class = "textstyle">Things to do</h3>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-20 ">
                <h6 class = "textstyle ps-lg-5">
                    There are great bars, restaurants and cafes all over town.  For bars try the harbourside, or Kings St, or Stokes Croft.  Below is a list of things to do and see, mostly within walking distance of the house
                </h6>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://www.ssgreatbritain.org/wp-content/uploads/2021/04/image_jumbo.png" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>SS Great Britain</h4>
                                </div>
                                <p class="card-text"><a href = "https://www.ssgreatbritain.org/">SS Great Britain</a>  
                                    was prolific Victorian engineer Isambard Kingdom Brunel's groundbreaking passenger ship.  It was the first ship to use a rear propeller to power
                                    it, rather than revolving paddles either side.  The ship itself is a museum which has been restored to replicate what it would have been like at the time.
                                    There is also a museum next to the boat focussing on Brunel.  It is about 15 mins walk away, on the harbourside walk.                       
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://visitbristol.co.uk/dbimgs/656---Colours-of-Hotwells---Daniels-Andres---07738-819573.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Harbourside walk</h4>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="card-text d-flex "><span>The <a href = "https://www.ssgreatbritain.org/things-to-do/brunel-walking-trails/">Harbourside walk</a> 
                                        is a pleasant 3km walk around Bristol's harbourside.  See the historic ship, <a href = "https://matthew.co.uk/">the Matthew</a>, bars, takeaways and restaurants
                                        at <a href = "http://wappingwharf.co.uk/bars-restaurants-cafes">Wapping Wharf </a>.  Then a little further on there is the SS Great Britain. Take a quick look at <a href = "https://underfallyard.co.uk/">a Banksy</a> too.   
                                        Then walk through <a href = "https://underfallyard.co.uk/">Underfall Yard </a> a
                                        working boatyard, with cafe and mini-museum. There are four great maritime pubs at various points, all of which have great
                                        waterfront outdoor seating:   
                                        <a href = "https://butcombe.com/the-cottage-inn-bristol/">the Cottage</a>, which serves up unpretentious pub food too, Bristolian's favourite 
                                        <a href = "https://www.novascotiabristol.co.uk/">the Nova Scotia</a>, gastropub <a href = "http://the-pumphouse.com/"> the Pump House</a> or enjoy great beer on deck on the 
                                        <a href = "https://grainbarge.com/">the Grain Barge</a>.</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://www.bristolmuseums.org.uk/wp/wp-content/uploads/2014/06/mshed_the_venue.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>M-Shed</h4>
                                </div>
                                <div class="d-flex align-items-center">
                                <p class="card-text"><a href = "https://www.bristolmuseums.org.uk/m-shed/">M-Shed</a> 
                                    is a free museum that chronicles a social history of Bristol.  It has loads of interesting 20th century artifacts, including the statue of Edward Colston
                                    which was torn down and dumped in the harbour.  There is also a Banksy, which was originally on the side of legendary Bristol nightclub-on-a-boat, <a href = "https://www.theklabristol.co.uk/">the Thekla</a>.
                                    But my kids go-to is the double decker bus, which keeps them occupied for a good half hour!
                                </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="/lib/images/goldenguinea.jpg" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>The Golden Guinea</h4>
                                </div>
                                <p class="card-text">No list of things to do is complete without mention of our fantastic local, <a href = "https://thegoldenguinea.co.uk/"> the Golden Guinea. </a>  
                                    It's a genuine traditional harbourside backstreet pub. It serves a massive selection of great beers and offers a warm welcome.               
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://firebasestorage.googleapis.com/v0/b/bs3-shops.appspot.com/o/brands%2Fcliftonvillage%2F1643996747368?alt=media&token=14af8d26-b85d-4fe0-b7d8-19cea3081d25" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Clifton</h4>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="card-text  ">
                                        <a href = "https://visitbristol.co.uk/shopping/clifton-village-p23191">Clifton</a> is an upmarket, pretty district of Bristol perched on top of the a hill overlooking the city.
                                        It is home to the iconic Clifton Suspension Bridge which is best viewed from the  <a href = "https://cliftonobservatory.com/">observatory</a>.  
                                        Or the more civilised terrace at the <a href = "https://www.hotelduvin.com/locations/bristol-avon-gorge/white-lion/">White Lion</a>. Nearby Clifton village 
                                        is home to shops bars and restaurants.
                                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://i.guim.co.uk/img/media/a72a785701a59f8ad2a2f3047c9e93cc4d592965/0_176_4928_2957/master/4928.jpg?width=620&quality=45&fit=max&dpr=2&s=3da208f6713c48ebd49b275aae986b1a" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Arnolfini</h4>
                                </div>
                                <p class="card-text">The <a href = "https://arnolfini.org.uk/">Arnolfini</a>  
                                    is a free Bristol modern art gallery, with several exhibition spaces always featuring multiple exhibitions.  There are regular workshops, a kid's room, a great bookshop and an even better
                                    cafe and bar with an outdoor terrace.                         
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://images.ctfassets.net/gi6fitfj7iu4/4vkVnJB8QeERBIDcibPiVr/294e55d6adafc13cb974af4cf1ec1538/Pub_CC_UK_Good-to-be-back_List-image_630x346.jpg?q=80&w=800&fl=progressive" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Cabot Circus</h4>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="card-text ">
                                        Need to go shopping in a swanky new shopping district, then <a href = "https://www.cabotcircus.com/">Cabot Circus</a> is for you.  Loads of high street and designer shops and a 
                                      handful of chain restaurants too.  My favourite bit is watching films in luxury in the director's hall of <a href = "https://www.showcasecinemas.co.uk/showtimes/showcase-cinema-de-lux-bristol">Cinema de Lux</a>. 20 Mins walk.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://www.watershed.co.uk/sites/default/files/styles/wshed_5x2_1900/public/paragraphs/mega_image/2018-12-06/about-usmega-image.webp?h=45408df0&itok=v74rvgxr" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Watershed</h4>
                                </div>
                                <p class="card-text"><a href = "https://www.watershed.co.uk/">The Watershed </a>  
                                    is a Bristol institution which describes itself as a 'media center'.  But really this is an excellent cafe /  bar and a few smallish cinemas that show great films of an alternative bent.                     
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://eu-assets.simpleview-europe.com/bristol2014/imageresizer/?image=%2Fdmsimgs%2FNathan-Evans-Gloucester-Road-Bristol-Mural1_square__768667745.jpg&action=ProductDetailNew" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Gloucester Road</h4>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="card-text ">
                                        If independent shops are more your thing, then check out <a href = "https://visitbristol.co.uk/shopping/gloucester-road-shopping-p1453803">Gloucester Road</a>.  Head to Stokes Croft 
                                        (home to more alternative bars and cafes) and continue away from the centre and you'll hit Gloucester Rd, which is the longest road of independent shops in the country (or something like that!)
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://eu-assets.simpleview-europe.com/bristol2014/imageresizer/?image=%2Fdmsimgs%2Fcabot-tower.jpg&action=ProductDetailNew" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Cabot Tower</h4>
                                </div>
                                <p class="card-text"><a href = "https://visitbristol.co.uk/things-to-do/cabot-tower-and-brandon-hill-p24401">Cabot Tower</a>  
                                    is Victorian tower in Brandon Hill Park, (which is a pleasant park).  Climbing the tower is free and if you have a head for heights the top provides pretty incredible views of Bristol.                      
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
        <div class="row pb-4">
            <div class="col col-12 px-1  px-lg-4 mt-10">
                <div class="card mx-lg-5 mb-3" >      
                    <div class="card-body">
                        <div class="row">
                            <div class ="col col-4">
                                <img src="https://nt.global.ssl.fastly.net/images/1431836427121-tyntesfield30april20191bobfowleredit.jpg?width=1920&auto=webp&crop=16:7" class="img-fluid" />
                            </div>
                            <div class ="col col-8">
                                <div class="card-header">
                                    <h4>Tyntesfield</h4>
                                </div>
                                <p class="card-text"><a href = "https://www.nationaltrust.org.uk/tyntesfield">Tyntesfield</a>  
                                    is "An ornate Victorian Gothic Revival house with extensive garden and parkland".  It's great for a walk around the extensive grounds and there are loads of things for kids to do including a few play areas. It's a good day out. 20 minutes by car away.                   
                                </p>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>

    </div>
  </body>