@page "/Wifi"

<body>
    <div class ="container px-5">
        <div class = "row">
            <div class = "col ms-4 pb-3 text-center">
                <h3 class = "textstyle">Wifi</h3>
            </div>
        </div>
        <div class = "row pb-4">
            <div class = "col col-12 px-20 ">
                <p class="condensedlines">
                    The broadband is very good here: 300Mbs with no download limit.
                    <br />
                    <h5>Network</h5>HouseOnGuineaStreet  
                    <br />
                    <br />
                    <h5>Password</h5>NoNoiseAfter10pm!

                </p>
            </div>
            <div class = "col col-12 col-lg-6  px-4 mt-10">

            </div>
        </div>
    </div>
</body>