@inherits LayoutComponentBase



<!DOCTYPE html>


  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AHouseOnGuineaStreet.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sacramento&family=Public+Sans:wght@30&display=swap" rel="stylesheet">


    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a style="font-family: 'Pacifico', cursive; color: #9ae49e; font-size: 30px;" class="navbar-brand" href="/">a house on guinea street</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


              
               
                <div class="navbar-collapse collapse nav-fill ">
                    <ul class="navbar-nav flex-grow-1">
                         <li class="nav-link" href="/">
                            <NavLink class="nav-link" Match=NavLinkMatch.All href="/">
                            Home
                            </NavLink>                        
                        </li>
                        <li class="nav-link" href="Directions">
                            <NavLink class="nav-link" href="Directions">
                            Getting here
                            </NavLink>                        
                        </li>
                        <li class="nav-link" href="CarPark">
                            <NavLink class="nav-link" href="CarPark">
                            Parking
                            </NavLink>                        
                        </li>

                        <li class="nav-link dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            House Info
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                                <li class="nav-link" href="Wifi">
                                    <NavLink class="nav-link" href="Wifi">
                                    Wifi
                                    </NavLink>                        
                                </li>
                                <li class="nav-link" href="Recycling">
                                    <NavLink class="nav-link" href="Recycling">
                                    Bins and recycling
                                    </NavLink>                        
                                </li>
                                <li class="nav-link" href="General">
                                    <NavLink class="nav-link" href="General">
                                    General
                                    </NavLink>                        
                                </li>
                            </ul>
                        </li>

                        <li class="nav-link" href="Rules">
                            <NavLink class="nav-link" href="Rules">
                            House Rules
                            </NavLink>                        
                        </li>
                        <li class="nav-link" href="Eating">
                            <NavLink class="nav-link" href="Eating">
                            Food
                            </NavLink>                        
                        </li>
                        <li class="nav-link" href="ThingsToDo">
                            <NavLink class="nav-link" href="ThingsToDo">
                            Things To Do
                            </NavLink>                        
                        </li>
                        <li class="nav-link" href="Families">
                            <NavLink class="nav-link" href="Families">
                            Families
                            </NavLink>                        
                        </li>

                    </ul>
                </div>
           
            </div>
        </nav>
    </header>
    <div class="container">
        <article class="content pb-3">
            @Body
        </article>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Paul M 
        </div>
    </footer>

